body {
    background: #f4f4f4;
    font-family: "Segoe UI", sans-serif;
}

h1,h3 {
    color: #333;
    text-shadow: 1px 1px 2px #ccc;
}

.container {
    background-color: #fff;
    padding: 30px 430px 30px 430px;
    border-radius: 15px;
}

ul.list-group {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.list-group-item {
    transition: background-color 0.3s;
}

.list-group-item.hover {
    background-color: #f0f0f0;
}

button, .btn {
    border-radius: 10px;
}

body {
    text-align: center;
}